@media screen and (max-width: 767px) {
  .right-side {
    padding: 2% 0px;
    text-align: center;
  }
  .right-side p {
    text-align: center;
    width: 100%;
    padding: 0px 3%;
    font-size: 12px;
  }
  .hr-light {
    margin: 0px auto;
    width: 20%;
  }
  .container > p {
    width: 100%;
    margin: 10% auto;
  }
  .container hr {
    width: 40%;
  }
  #hero-section .left-side h1,
  #acquainted .left-side h1,
  .hero-content p {
    text-align: center;
  }
  .hero-content p {
    margin: 20px auto;
  }
  #hero-section .hero-content,
  #acquainted .hero-content {
    margin: 0px 40px;
    /* width: 100%; */
  }
  #solution .card:nth-child(2) {
    margin-top: 20px;
  }
  #acquainted button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #acquainted hr {
    margin: 0px auto;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #solution .card:nth-child(2) {
    margin-top: 20px;
  }
}
