.heading{
   color: white;
   font-size: 20px;
}

.btn1{
   width: 170px;
   box-shadow: 4px 3px rgba(0,0,0,0.2);
   border-radius: 5px;
   font-weight: 500;
}


.newsletter{
   color: white;
   font-size: 25px;
}

.btn2{
   background-color: #025b85;
   color:white;
   border-radius: 0px 20px 20px 0px;
   height: 45px;
   border: none;

} 


.btn2:hover {
   background-color: #477c94;
   box-shadow: 4px 3px rgba(0,0,0,0.2);
   color:white;
}

.aboutSection > h5{
   color: white;
   font-weight: 400;
   font-size: 17px;
   letter-spacing: 1px;
   margin-bottom: 15px;
}

.aboutSection > p{
   color: rgb(231, 231, 231);
   font-weight: bold;
   font-size: 10px;
   letter-spacing: 1.2px;
}

.lastCol {
   color: white;
   font-size: 14px;
   font-weight: bold;
}
hr{
   border: 1px solid white;
   width: 100%;
   margin-top: 10px;
}

@media  (max-width: 768px) {
   .navbar-collapse{
      text-align: center;
   }
}

